arandr==0.1.11
attrs==25.3.0
autocommand==2.2.2
btrfsutil==6.15
cffi==1.17.1
cryptography==45.0.5
dbus-python==1.4.0
evdev==1.9.0
filelock==3.18.0
inflect==7.5.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lensfun==0.3.4
lxml==6.0.0
more-itertools==10.7.0
netsnmp-python==1.0a1
packaging==25.0
pillow==11.3.0
platformdirs==4.3.6
psutil==7.0.0
pwquality==1.4.5
pycairo==1.28.0
pycparser==2.22
PyGObject==3.52.3
python-xlib==0.33
pyudev==0.24.3
pyxdg==0.28
PyYAML==6.0.2
setuptools==80.9.0
six==1.17.0
smbus==1.1
solaar==1.1.14
TBB==0.2
termcolor==2.5.0
trash-cli==0.24.5.26
typeguard==4.4.4
typing_extensions==4.14.1
wheel==0.45.1
wxPython==4.2.3
